/* ------  css-demo --------*/

/*  ---- Color Scheme #FFF17C, #77907A, #8F3558 ---- 
Main Color - #3C85FA

*/


/* -------Fonts ----------------- */
/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*  ---------------Reponsive Images-----------------  */
img {
  max-width: 100%;
}

#practice blockquote {
  border: 4px double #77907A;
  padding: 20px 40px;
  margin: 40px 80px;
  border-radius: 30px 0;
  background-color: #8F3558;
  color: #FFF17C;
  line-height: 1.4;
  text-shadow: 1px 1px #000000;
}
/*  --------------- Utility Classes -----------------  */

.container {
  width: 80vw;
  max-width: 960px;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url('../img/vector-abstract-colorful-triangle-pattern-background.jpg');
  background-repeat: space repeat;
  background-position-x: center;
  background-blend-mode: lighten;
  
  
  
}

.img-right {
  float: right;
  margin: 0 0 20px 20px;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 20%;
}
.img-left {
  float: left;
  margin: 0 0 20px 20px;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 20%;
}

.img-center {
  display: block;
  margin: 0 auto;
  border: 1px solid #ffffff;
  padding: 5px;
  border-radius: 20%;
}
/*  --------------- Global Styles -----------------  */

body .cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
  }




  


header.primary {
  background-color: rgba (0,0,0,0.5);
  background-image: url("../img/latin-art-deco.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    text-align: center;
  text-shadow: 1px 1px #000000;
 padding-top: 10px;
  padding-bottom: 20px;
  color: #ffffff;
}




header.primary h1 {
  font-size: 2.4rem;
  /* top | left and right | bottom */
  margin: 20px 0 0;
}

header.primary h1 a {
  color: #ffffff;
  background-color: #8F3558;
  text-decoration: none;
  border: 2px solid #8F3558;
  padding: 1px 1px;
  display: inline-block;
}

header.primary h2 {
  font-size: 1.3rem;
  margin: 0;
  color: #ffffff;
  background-color: #8F3558;
  text-decoration: none;
  border: 2px solid #8F3558;
  display: inline-block;
}

header.primary nav {
  max-width: 960px;
  margin: auto;
}
header.primary nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
}
header.primary nav ul li {
  list-style-type: none;
}
header.primary nav ul li a {
  color: #ffffff;
  font-size: 0.9rem;
  text-decoration: none;
  border: 1px solid #c0c0c0;
  padding: 7.5px 10px;
  background-color: rgba(143, 53, 88, .9);
  border-radius: 20px;
  transition: 0.4s;
}

header.primary nav ul li a:hover {
  background-color: rgba(119, 144, 122, 1);
}

#content {
  line-height: 1.4;
}

#content h2 {
  color: #3b638b;
  border-bottom: 1px dotted darkgrey;
}

#blog {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 2rem;
  border-top:1px solid #3b638b;
  padding: 40px 0 40px 0 0;
}

#blog article.post {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: 0.4s;
}

#blog article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

#blog figure {
  margin: 0;
  
}

#blog figcaption,
time.post-date {
  text-transform: uppercase;
  font-size: 0.6rem;
  text-align: center;
  color: #c0c0c0;
}

#blog .post a {
  color: #3b638b;
}

#practice h2{
  color: #3b638b;
  border-bottom: 1px dotted darkgrey;
}

#practice a {
  color: #3b638b;
}

#practice a:hover {
 text-decoration: none;
}

#practice h3 {
  border-left: 7.55px solid #3b638b;
  padding: 0 0 0 10px;
  border-radius: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #3b638b;
}
caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
}
thead {
  background-color: #3b638b;
  color: #ffffff;
  padding: 7.5px;
}   
tr:nth-child(even){
  border-bottom: 1px solid #3b638b;
  background-color: rgb(218, 218, 170);
}

td:nth-child(n+2){
  text-align: right;
}
tr:hover{
  background-color: #eda5a5;
}

th{ 
  padding: 10px;
}
td{
  padding: 10px;
  border: 1px solid #3b638b;
}

#practice ol {
  list-style-type: lower-roman;
}

#practice ul ul {
  list-style-type: square;
}

#practice dl dt{
  font-weight: bold;
}

#practice dd+dt{
  margin-left: 0;
  color:red
}

aside[role="complementary"]{
background-color: #172635;
color:#ffffff;
padding:40px 0;  
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
  gap:40px;
}

aside article.widget{
  background-color: #3b638b;
  padding:20px;
  border-radius:4px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  flex-wrap: wrap;
  gap:40px;
}

aside article.widget:hover {
  box-shadow: 0 8px 16px rgb(255, 255, 255);
}
aside article.widget a{
  color:#ffffff;
}

aside article.widget a:last-of-type{
  display:block;
  margin-top:20px;
  text-align:right;
}

aside article.widget footer{
  display:none;
}

#colophon{
  background-color: #3b638b;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23172635' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M8 0v20L0 10M16 0v10L8 0M16 10v10H8'/%3E%3C/g%3E%3C/svg%3E");
  padding:5px;
  color:#ffffff;
  font-size:1.2rem;
  text-align:center;
}

/* --------- Media Queries ----------- */

@media screen and (max-width: 560px) {
  header.primary nav ul {
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    margin: 10px auto;
  }
  header.primary nav a {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  #blog {
  flex-direction: column;
}
}

